*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 'Open sans', sans-serif;
}
body{
    background-image: url(pexels-pixabay-36717.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.black{
    background-color:rgb(53, 109, 62);
}
.navbar .logo p{
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 20px;
    color: orange;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: beige;
    font-size: x-large;
}
a:hover{
    color: orange;
}
header{
    position: relative;
    padding: 6px;
}
.navbar{
    width: 100%;
    height: 60px;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}
.navbar .links{
    display: flex;
    gap: 2rem;
}
 .navbar .toggle_icon{
    width: 30px;
    height: 30px;
    background-image: url(favicon.ico);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 20%;
    display: none;
    margin-right: 20px;
    border: none;
    outline: none;
 }
 .start_button{
    background-color: orange;
    border-radius: 10px;
    border: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    cursor: pointer;
 }
 .start_button:hover{
    scale: 1.02;
    color: beige;
 }
 .dropdown-menu{
    position: absolute;
    right: 1.5rem;
    top: 60px;
    width: 250px;
    height: 0;
    background-color:darkslategray;
    border-radius: 10px;
    overflow: hidden;
    transition: height .5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
 }
 .dropdown-menu.open{
    height: 220px;
 }
 .dropdown-menu li{
    padding: 0.7rem;
    align-items: center;
    display: flex;
    justify-content: center;
 }
 .dropdown-menu .start_button{
    width: 100%;
    display: flex;
    justify-content: center;
 }
 @media(max-width: 992px){
    .navbar .links,
    .navbar .start_button{
        display: none;
    }
    .navbar .toggle_icon{
        display:block;
        cursor: pointer;
    }
 }
