body{
 background-color: rgb(43, 42, 42);
 min-height: 100vh;
}
.white-text{
  color:rgb(94, 185, 221);
  font-size: 65px;
}
.p-text{
  color:white;
  font-size: xx-large;
  margin-bottom: 10%;
}
.size{
  font-size: larger;
  color: azure;
}
.purple{
  background-color: rgb(94, 89, 94);
  border-radius: 6px;
  border: none;
  width: 10%;
  cursor: pointer;
  margin: 4px 2px;
  transition: background-color 0.2s, box-shadow 0.2s;
  color:azure;
  font-size: x-large;
}
.purple:hover{
  background-color: rgb(111, 107, 114);
}
.huge-button{
  background-color: aqua;
  height: 200px;
  width: 230px;
  border: none;
}
.sucess{
  background-color: orange;
  border-radius: 50%;
  height: 50px;
  width: 55px;
  border:none;
}
.white{
  color: azure;
}
.botton{
  background-color:orange;
  border-radius: 50%;
  border:none;
  height: 60px;
  width: 60px;
}
font{
  font-size:large;
}
.blue-{
  margin-top: 8%;
  background-color: rgb(41, 41, 156);
  border: none;
  border-radius: 80px;
  width:90%;
  margin-bottom: 10%;
}
.getstar{
  font-size: 65px;
  color:white;
}
.right{
  position: absolute;
  left: 55%;
  border-radius: 40px;
}
.ability{
  font-size: 40px;
  font-weight: bold;
  color: rgb(94, 185, 221);
  margin-left: 50px;
}
.you{
  color:antiquewhite;
  margin-top: -20px;
  font-size: xx-large;
  margin-left: 50px;
  margin-bottom: 10%;
}
.left{
  font-size: 40px;
  color: rgb(94, 185, 221);
  font-weight: bold;
  width:48%;
  padding-left: 60%;
}
.out{
  color:antiquewhite;
  margin-top: -20px;
  font-size: xx-large;
  padding-left: 60%;
  margin-bottom: 11%;
}
.hacker{
  border-radius: 40px;
  float: left;
  margin-left: 3%;
}
